.odd {
    background-color: rgb(252, 160, 160);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#num2 {
    color: #0000ff;
    font-size: 36px;
}

.size {
    font-size: 24px;
}

#num4 {
    background-color: hsl(118, 100%, 76%);
    font-weight: bold;
}